name: Update ruantiblock blacklist (fqdn)
run-name: Blacklist updating
on:
    workflow_dispatch:
    schedule:
        - cron: '37 10,22 * * *'
jobs:
    update:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: '3.12'
            - name: v1.1 - fqdn configuration
              run: |
                cd ./1.1
                ./run_parser.sh ./ruantiblock_fqdn.conf ../blacklist-1.1/fqdn
            - name: commit
              run: |
                git config user.name github-actions
                git config user.email github-actions@github.com
                git add .
                git commit -m "Updated: $(date -u "+%Y-%m-%d %H:%M %z")"
                git push
